pandas==1.5.3
numpy==1.23.5
requests
matplotlib
plotly
scipy
networkx
cufflinks
seaborn
chart_studio
itables
nbconvert==7.2.9
jupyterlab
jupyter-client==8.6.0
jinja2==3.1.2
MarkupSafe==2.1.3
notebook
country-converter